
absl-py
asttokens 
astunparse
backcall 
backports.functools-lru-cache 
Bottleneck 
bsr
cachetools
certifi
cffi
charset-normalizer
cmasher
colorspacious
comm 
contourpy 
cycler 
debugpy 
decorator 
entrypoints 
exceptiongroup 
executing 
feyn
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources 
ipykernel 
ipython 
jedi 
joblib
jupyter-client 
jupyter_core 
jupyter
kennard-stone
keras
Keras-Preprocessing
keras-tuner
kiwisolver 
kt-legacy
lark
libclang
Markdown
MarkupSafe
matplotlib 
matplotlib-inline 
mizani 
mkl-fft 
mkl-random 
mkl-service
mpmath
munkres
nbconvert
nest-asyncio 
numexpr
numpy 
oauthlib
opt-einsum
packaging 
pandas 
parso 
patsy 
pexpect 
pickleshare 
Pillow 
platformdirs 
plotly 
plotnine 
ply
prompt-toolkit 
protobuf
psutil 
ptyprocess 
pure-eval 
pyaml
pyasn1
pyasn1-modules
pycparser
Pygments 
pymongo
PyNaCl
pyparsing 
PyQt5-sip
python-dateutil 
pytz 
PyYAML
pyzmq 
requests
requests-oauthlib
rsa
scikit-learn
scikit-optimize
scipy 
sip 
six 
stack-data 
statsmodels 
svgwrite
sympy
tenacity 
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml 
tornado 
traitlets 
typing_extensions 
tzdata 
urllib3
wcwidth 
Werkzeug
wrapt
zipp 